* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1280px;
  text-align: center;
  font-family: "Roboto";
  margin: 0 auto;
}

.header {
  text-align: start;
  margin-top: 63px;
  margin-bottom: 40px;
}
.headerName {
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  line-height: 94px;
}
.headerColorName {
  font-weight: 400;
  color: #4bcaff;
  font-size: 80px;
  line-height: 94px;
}

.navigation {
  background-color: #35444f;
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  border-right: 1px solid #ffffff;
}
.link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px;
  border-left: 1px solid #ffffff;
}
.link:hover {
  background-color: #222f3a;
}

.sidebar {
  display: flex;
  margin-top: 49px;
}
.sidebarButtons {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid #485863;
  height: 392px;
}
.sidebarLink {
  color: #35444f;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  width: 344px;
  padding-top: 26px;
  padding-left: 44px;
  padding-right: 82px;
  padding-bottom: 25px;
}
.sidebarLink:hover {
  background-color: #dbdbdb;
  color: #000000;
  text-align: center;
}

.imageBorder {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  margin-left: 52px;
}
.image {
  margin-top: 75px;
  margin-bottom: 73px;
  margin-left: 297px;
  margin-right: 268px;
  transition: transform 0.5s;
  overflow: hidden;
}
.image:hover {
  transform: scale(1.1);
}

.main {
  margin-top: 37px;
  text-align: start;
}
.contentFirst,
.contentSecond {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-left: 400px;
}
.contentSecond {
  padding-top: 34px;
  margin-bottom: 54px;
}

.footer {
  background-color: #63696e78;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}
.footerButtons {
  display: flex;
  text-align: start;
}
.footerLink {
  color: #0c1927;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  padding-left: 35px;
}

.footerLink:hover {
  color: #3181a6;
  text-decoration-line: underline;
}
.footerText {
  color: #010101;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 111px;
  padding-right: 40px;
}
